* {box-sizing: border-box;}

body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #80D6BD;
  font-family: Paralucent;
}

body > h1, body > p {
  color: #1A3850;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  padding: 0 16px;
  width: 100%;
  max-width: 512px;
  margin: 0 auto;
}


.bg-beige {
  border-radius: 16px;
  background: #F8F3E7;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.column {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.column.right {
  display: flex;
align-self: stretch;

}

.column.right > div {
  flex-direction: column;
}

.player {
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex: 1 0 0;
  align-self: stretch;

  > p {
    margin: 0;
    color: #1A3850;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 64px;
    margin-top: 8px;
    background: #F6E9D6;
    border: 1px solid #F0DEC7;
  }

  #emoji {
    font-size: 80px;
    line-height: 80px;
  }
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(214, 179, 138, 0.20);
  overflow: hidden;
  cursor: pointer;
}

.node > div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #F6E9D6;
  height: 38px;
}

.node > div > p {
  color: #D6B38A;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.node.active > div {
  border-top: 4px solid #F0B833;
  border-bottom: 4px solid #F0B833;
  background: #1A3850;
  height: 38px;
}

.node.active > div > p {
  color: #F0B833;
  font-weight: 700;
}

